/*
	Pressuposes link to bootstrap prior to this
*/

.nopadding {
	padding-left:0px !important;
	padding-right:0px !important;
}

.nomargin {
	margin-left:0px !important;
	margin-right:0px !important;
}

.margin-top-large{
  margin-top: 100px;
}

.margin-top-small{
  margin-top: 20px;
}


@font-face {
    font-family: CircularMedium;
    src: url("lineto-circular-bold.woff");
}

@font-face {
    font-family: CircularLight;
    src: url("CircularStd-Book.otf");
}

@font-face {
    font-family: CircularBook;
    src: url("CircularStd-Book.otf");
}

#logo {
	max-width:200px;
}

header {
	padding-top:20px;
	padding-left:20px;
	padding-right: 20px;
}


h1, h2, h3, h4 {
	color:black;
	font-family: CircularLight;
}

p {
	font-family: CircularBook;
	font-size: 20px;
}


.navbar {
	border-bottom: 1px #eee solid;
	margin:0px;
	background-color: #fff;
}


.navbar-toggler-icon {
  background-image: url("../assets/burger.png");
}

.nav-item {
	padding-left:20px;
}

.active a{
	border-bottom: 2px solid #16312F;
}

.nav-link {
	font-family: CircularBook;
	color:#16312F;
	font-size: 20px;
}


.nav-link:hover {
	color:#16312F ;

}

a.normal-link, a.normal-link:visited {
	color: #00968F;
	border-bottom: 2px solid #00968F;
	text-decoration: none;
}

a.normal-link:hover {
	text-decoration: none;
}

.button {
	background-color: #16312F;
	color:#ffffff;
	font-family: CircularMedium;
	font-size: 14px;
	padding:16px;
	border-radius: 100px;
	border:0px;
}

input.form-rounded {
	border-radius: 100px;
	padding:16px;
	font-family: CircularBook;
	font-size: 14px;
}

label.small {
	color:#ccc;
	font-family: CircularBook;
	font-size:12px;
}

.form-control{
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}



.right {
	float:right;
}

#product  {
	max-width:100%;
}

#leanback {

}

img.blog {
	max-height: 200px;
}

.bloggrid h1 {
	padding-top:10px;
	font-size: 150%;
}

.quote {
	min-height: 100px;
	font-size:20px;
	line-height: 100%;
}

#people {
max-width:100%;
}

ul.faq-list {
	margin-left:-40px;
}

ul.faq-list li {
	padding-top:16px;
	padding-left:none;
	margin-left:none;
	list-style: none;
	border-bottom:1px solid #eee;
}

footer {
	background-color: #eee;
	font-size:90%;
}

footer ul {
	line-height: 100%;
}

footer ul li {
	list-style: none;
}
